<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>OIDC Test Tool</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/users.css" />
  </head>
  <body>

    <!-- Add OIDC CLIENT -->
    <div class="users-column add-user-col">
      <div class="column-header">
        OIDC Testing
      </div>
      <div>
        <button id="show-detail-btn">
          OIDC Client
        </button>
      </div>
    </div>

    <!-- Display Details -->
    <div class="display-column" style="margin-top: 5em;">
      <div class="column-header">OIDC Details</div>
      <div id="display-anchor"></div>
    </div>

  </body>
  <!-- <script src="scripts/http.js"></script> -->
  <script src="scripts/oidc.js"></script>
</html>
